.container {
    width: 100%;
    height: 950px;
    background-image: url("../image/demo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    padding-right: 100px;
    float: right;
    margin-left: 50px;
    font-size: 24px;
    color: #3B4BAB;
}

a.hover {
    background-color: yellow;
}

#element-style {
    margin-top: 50px;
    margin-left: 5%;
}

.menu {
    margin-top: 5%;
    margin-left: 50px;
    padding-top: 5%;
}


.navbar-brand {
    font-size: 24px;
}

.image-main {
    width: 80%;
    height: auto;
    padding-top: 30px;
    margin-top: 20%;
}

#image-icon {
    margin-left: 10%;
    margin-bottom: 10%;
}

.text-title {
    padding-left: 10%;
    padding-top: 30px;
    font-size: 60px;
    letter-spacing: 1px;
    color: #083e75;
    font-family: "Lato";
    margin-top: 20%;
}

.text-sub {
    margin-left: 10%;
    color: #3B4BAB;
    font-size: 25px;
    font-family: "Lato";
}

.navbar-inverse .navbar-nav>li>a {
    color: #083e75;
}

.navbar-inverse .navbar-brand {
    color: #083e75;
}

.btt {
    font-size: 20px;
    letter-spacing: 0px;
    padding: 6px 5px;
    color: #345EBD;
    font-family: "Lato";
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: #8DEAF8;
}

.start_button,
.learn_button {
    margin-left: 10%;
    float: left;
    margin-right: 45px;
}

#start__text,
#learn__text {
    padding-top: 1%;
    margin-left: 10%;
    float: left;
    margin-right: 45px;
}

.icon {
    float: left;
    height: 7%;
    width: 7%;
}

.icon-child {
    display: none;
}

.dad-icon {
    padding-top: 30px;
}


.navbar-inverse {
    background-color: unset;
    border: none;
    color: #3B4BAB;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 10px;
    margin-right: 15px;
    margin-top: 34px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    a:not(:first-child) {
        display: block;
    }

    .icon-child {
        float: right;
        display: block;
    }

    .h1 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 47px;
    }

    .h5 {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    image-main {
        width: 80%;
        margin-left: 64px;
        padding-top: 100px;
    }

    .h5 {
        text-align: center;
        margin-left: 40px;
    }

    .start_button {
        float: left;
        /* margin-left: 0px; */
        /* margin-bottom: 0px; */
        text-align: center;
    }

    .start_button,
    .learn_button {
        /* margin-left: 10%; */
        float: left;
        margin-right: 20px;
    }

    .btt {
        font-size: 25px;
    }
}
}

@media screen and (max-width: 576px) {
    a:not(:first-child) {
        display: block;
    }

    .icon-child {
        float: right;
        display: block;
    }

    .h1 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 47px;
    }

    .h5 {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .image-main {
        width: 80%;
        margin-left: 64px;
    }

    .h5 {
        text-align: center;
        margin-left: 40px;
    }

    .start-button {
        float: left;
        margin-left: 120px;
        margin-bottom: 45px;
        text-align: center;
    }

    .learn-button {
        float: left;
        margin-left: 145px;
        margin-bottom: 45px;
        text-align: center;
    }

    .btt {
        font-size: 25px;
    }
}

@media screen and (max-width: 478px) {
    a:not(:first-child) {
        display: block;
    }

    .icon-child {
        float: right;
        display: block;
    }

    .h1 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 47px;
    }

    .h5 {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .image-main {
        width: 80%;
        margin-left: 64px;
    }

    .h5 {
        text-align: center;
        margin-left: 40px;
    }

    .start-button {
        float: right;
        margin-top: -2px;
        margin-bottom: 6px;
        padding-top: 9px;
    }

    .learn-button {
        margin-left: 70px;
        text-align: center;
    }

    .btt {
        font-size: 25px;
    }
}